@font-face {
    font-family: 'confortaa';
    src: url('/assets/fonts/Nosifer-Regular.ttf') format('truetype');
}

body{
    font-family: 'confortaa';
    color: antiquewhite;
    /* Esto entrara en el examen */
    background-color: blue;
    background: radial-gradient(circle, rgba(0,16,96,1) 0%, rgba(0,0,0,1) 100% );
}

h1{
    color: red;
    text-align: center;
    font-family: 'confortaa';
}

.inventory-table-styles{
border-collapse: collapse;
width: 80%;
margin: 20px auto;
color:antiquewhite;

}

.inventory-table-styles th, 
.inventory-table-styles td{
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;
}

.inventory-table-styles th{
    background-color: blue;
    color: #cccccc;
}

.inventory-table-styles tr:hover{
    background-color:black;
    color: #cccccc;
}

/* Estilos para el formulario con fondo negro */

.product-form-styles{
    background-color: black;
    color: rgb(255, 0, 0);
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 2px 4px;
}

/* Estilos para las etiquetas y campos de entrada  */

label{
    /* con esto forzamos a que no se muevan, para que siempre se vea igual */
    display: block;  
    margin-bottom: 10px;
    font-weight: bold;
}

input{
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    color:white;
    background-color: black;
    outline: none;
}

button{
    margin: 2% 2% 2% 2%;
    background-color: blue;

    color: #cccccc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}